/* .content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: hwb(194 8% 20% / 0.46);
}
.content h1{
  color: rgb(0, 0, 0);
}
 */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/* body .homepage{
  background-color: #252525;
} */

.login{
	position: relative;
	min-height: 95vh;
	/* background-color: #E1E8EE; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.content{
	background-color: #252525;
	border-radius: 15px;
	height: 450px;
  width: 600px;
	position: relative;
	overflow: hidden;
}
	
.content::after {
		content: '';
		opacity: .5;
		position: absolute;
		top: 0;right:0;bottom:0;left:0;
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 900px;
		/* background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100'); */
		/* background-image: url('https://images.unsplash.com/photo-1583061386845-8fbf1db671f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
		background-image: url("/images/background.jpg");

	}
.user{
  position: relative;
  color: #eeeeee;
  text-align: center;
  z-index: 1;
}
.user-link{
  color: #287eff;
  text-decoration: none;
}
.user-link:hover{
  color: #287effb1;
  text-decoration: none;
}
	
.innerContent {
  /* width: 300px; */
	position: relative;
  align-items: center;
  margin: 20px auto;
  width: 50%;
  z-index: 5;
}


h1 {
  /* padding: 0px; */
		color: #adadad;
		/* text-align: center; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #ff4747; */
}

li {
  float: left;
  margin: 8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

li a:hover {
  background-color: #0000002f;
}

.link {
  padding: 10px;
  text-decoration: none;
}

.form-title {
    padding: 20px;
		color: #ffffff;
		text-align: center;
    position: relative;
		z-index: 5;
  }
.form-title span {
				color: rgba(0,0,0,0.4);
				opacity: 0;
				visibility: hidden;
				transition: all .3s ease;
			}

		
.form-holder {
			border-radius: 15px;
			background-color: #ffffff;
			overflow: hidden;
			margin-top: 50px;
			margin-bottom: 25px;
			opacity: 1;
}
.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  font-size: 12px;
}
.input :last-child {
  border-bottom: 0;
}
.input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.4);
}

.btn {
  text-decoration: none;
  background-color: rgba(0,0,0,0.5);
  color: rgba(256,256,256,0.7);
  border:0;
  border-radius: 15px;
  display: block;
  margin: 15px auto; 
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}
  
.btn:hover {
    transition: all .3s ease;
    background-color: rgba(0,0,0,0.8);
  }
  
.homeContent{
  display: flex;
  width: 75%;
  margin: auto;
  text-align: center;
}

.homeChild {
  text-align: center;
  margin: 20px;
  padding: 100px;
  float: left;
  /* background-color: #E5322D; */
  /* border-radius: 20px; */
  background-color: #252525;
	border-radius: 15px;
	/* height: 450px; */
  /* max-width: 500px; */
  /* width: 100%; */
	position: relative;
	overflow: hidden;
  z-index: 1;
  
}

.homeChild h2{
  color: #ffff;
  margin: 50px;
}

.homeChild::after {
  content: '';
  opacity: .5;
  position: absolute;
  top: 0;right:0;bottom:0;left:0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 900px;
  /* background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100'); */
  /* background-image: url('https://images.unsplash.com/photo-1583061386845-8fbf1db671f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
  background-image: url("/images/background.jpg");
  z-index: -1;
}

.btnU{
  margin: 30px;
  text-decoration: none;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  border:0;
  border-radius: 15px;
  padding: 15px 45px;
  font-weight: bold;
  transition: all .3s ease;
}

.btnU:hover{
  transition: all .3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

#files {
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
}

.upload {
  width: 75%;
  margin: auto;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
}

.dragUpload {
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 100px;
  border-radius: 10px;
  background-color: #a7a7a7;
}

.dragUpload:hover {
  background-color: #949494;
}

.bothUpload {
  display: flex;
}



.navbar {
  padding: 0px 20px;
  width: 95%;
  display: inline-block;
  /* align-items: center; */
  background-color: #E5322D;

  border-radius: 20px;
  /* max-width: 600px; */
  /* margin: 0 auto; */
  /* border-bottom: 1px solid #f2f2f2; */
}

.links {
  float: right;
  /* margin-right: 10px; */
  padding: 8px;
}

.heading {
  float: left;
}

.mappingContent {
  display: flex;
  margin: auto;
}

.csvContent {
  flex: 1;
}
.jsonContent {
  flex: 1;
}
.dragDiv {
  display: flex;
  padding: 8px;
}
.borderCommon {
  padding: 2px 4px;
  /* border-style: solid; */
  border-radius: 6px;
  background-color: #575757ae;
  color: #ffffff;
}
.mapValue {
  margin-left: 20px;
}
.jsonItem1 {
  padding: 8px; 
}
.jsonItem {
  display: inline-flex;
}
.mapForm {
  width: 25%;
  margin: auto;
}
.profileContent {
  width: 50%;
  margin: auto;
}
.options {
  padding: 8px;
}